/* 전역 스타일, for index.js */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body, html {
    height: 100%;
}

button {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
}

form {
    display: flex;
    gap: 0.625em;
}

input {
    margin-right: 0.625em;
}

.diary-item {
    display: flex;
    align-items: center;
}

.diary-date {
    flex: 1;
}

.diary-text {
    flex: 3;
}

.diary-action {
    flex: 1;
    display: flex;
}

.edit-form {
    display: flex;
}

